doctype html
html
  head
    title= title
    style.
      table {
        width: 100%;
        border-collapse: collapse;
      }
      th {
        background: pink;
        padding: 10px;
        border: 1px solid #ccc;
        text-align: left;
      }
      td {
        padding: 10px;
        border: 1px solid #ccc;
      }
  body
    h1 Custom Object Table
    a(href='/update-cobj') Add to this table
    table
      thead
        tr
          th Name
          th Make
          th Model
      tbody
        each car in data
          tr
            td= car.properties.name
            td= car.properties.make
            td= car.properties.model